 <section id="add" class="container">
    <div class="form-wrap">
      <h1>Add A Thing</h1>
      <p>Put important information about the thing here.</p>
      {{#each errors}}
        <div class="error">
          <p>{{text}}</p>
        </div>
      {{/each}}
      <form class="inputForm" action="/catalogs/add" method="POST">
        <div class="input-group">
          <label for="thing_label">Label</label>
          <input type="text" name="thing_label" id="thing_label" class="input-box" placeholder="Red Royal Typewriter, Little Elmo Doll, etc."
            maxlength="100" value={{thing_label}}>
        </div>
        <div class="input-group">
          <label for="thing_status">Status</label>
          <input type="text" name="thing_status" id="thing_status" class="input-box" placeholder="In storage, on display, under repair, etc."
          maxlength="100" value={{thing_status}}>
        </div>
        <div class="input-group">
          <label for="thing_condition">Condition</label>
          <input type="text" name="thing_condition" id="thing_condition" class="input-box" 
            placeholder="Excellent, Fair, Poor, etc" value={{thing_condition}}>
        </div>
        <div class="input-group">
          <label for="hist_desc">History/Description</label>
          <textarea name="hist_desc" id="hist_desc" class="input-box" placeholder="Describe this thing in sufficient detail here, including any important history, and your relation to it."
            rows="10">{{hist_desc}}</textarea>
        </div>
        <div class="input-group">
          <label for="place_storedIn">Location</label>
          <input type="text" name="place_storedIn" id="place_storedIn" class="input-box" 
            placeholder="Where can this thing be found?" value={{place_storedIn}}>
        </div>
        <div class="input-group">
          <label for="category_label">Category(s)</label>
          <input type="text" name="category_label" id="category_label" class="input-box" 
            placeholder="What category(s) does this thing belong to?" value={{category_label}}>
        </div>
        <div class="input-group">
          <label for="person_role">Owner(s), Claimant(s), other interested parties</label>
          <input type="text" name="person_role" id="person_role" class="input-box" 
            placeholder="Who does this thing belong to?" value={{person_role}}>
        </div>
        <div class="input-group">
          <label for="person_contactInfo">Contact E-Mail</label>
          <input type="text" name="person_contactInfo" id="person_contactInfo" class="input-box" 
            placeholder="Enter the email of the primary person who owns this thing" value={{person_contactInfo}}>
        </div>
        <div class="input-group">
          <label for="artifact_type">Information Link</label>
          <input type="text" name="artifact_type" id="artifact_type" class="input-box" 
            placeholder="You can put a link here to an informative web page about the thing." value={{artifact_type}}>
        </div>
        <div class="input-group">
          <label for="imgLink">Image Link</label>
          <input type="text" name="imgLink" id="imgLink" class="input-box" 
            placeholder="Put a link here to an image of the thing." value={{imgLink}}>
        </div>
        <input type="submit" value="Add Thing" class="btn btn-reverse">
      </form>
    </div>
  </section>