<section id="catalogs" class="container">

  <div style="display:inline-flex;width:auto;height:40px;vertical-align:middle;margin-bottom:20px">
    <h1 style="width:300px;position:relative;vertical-align:top">All Things</h1>
    <a href="/catalogs/getAll" class="button" >Cards</a>
    <a href="/catalogs/getAllList" class="button" style="background-color:#14b94b">List</a>
    <a href="/catalogs/getAllThumbs" class="button">Thumbs</a>
  </div>
  
      <table style="table-layout:fixed;width:600px;overflow:hidden">
          <tr>
            <th>Label</th>
            <th>Category</th>
            <th>Status</th>
            <th>Location</th>
          </tr>
  {{#each catalogs}}

          <tr>          
            <td>{{thing_label}}</td>

            {{#if category_label}}
            <td>{{category_label}}</td>
            {{else}}
            <td><span style="color:red;">None</span></td>
            {{/if}}

            {{#if thing_status}}
            <td>{{thing_status}}</td>
            {{else}}
            <td><span style="color:red;">None</span></td>
            {{/if}}

            {{#if place_storedIn}}
            <td>{{place_storedIn}}</td>
            {{else}}
            <td><span style="color:red;">None</span></td>
            {{/if}}
          </tr>
  {{else}}
      <p>No Things in catalog.</p> 
  {{/each}}
        </table>
  </section>


<!-- INVESTIGATE HTML <details> TAB FOR CREATING TRUNCATED VS FULL LISTS - OR SYTLE VIA CSS -->