<section id="catalogs" class="container" >

  <div id="viewHead" >
    <h1 style="width:150px;position:relative;vertical-align:top">All Things</h1>
    <a href="/catalogs/getAll" class="button" >Cards</a>
    <a href="/catalogs/getAllList" class="button">List</a>
    <a href="/catalogs/getAllThumbs" class="button" style="background-color:#14b94b">Thumbs</a>
  </div>

  {{#each catalogs}}
    <div class="catalogThumbsView">
      <ul>
        <h4><span style="color: #14b94b;">Label: </span>{{thing_label}}</h3>
        <h5><span style="color: #14b94b;">Category: </span>{{category_label}}</h4>
        {{#if imgLink}}
        <a href={{imgLink}}><img src={{imgLink}} style="max-height: 230px; max-width: 230px;"></li></a>
        {{/if}}
      </ul>
      <br>
      <a href="/catalogs/getOne/{{id}}" class="btn btn-reverse">Details</a>
      <a href="/catalogs/update/{{id}}" class="btn btn-reverse">Edit</a>
      <a href="/catalogs/delete/{{id}}" class="btn btn-reverse" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>
    </div>
  {{else}}
          <div class="catalog">
          <p>No Things in catalog.</p><br>
          <ul>
            <li><a href="javascript:history.back()" class="btn btn-reverse">Back</a></li>
          </ul>
        </div>
  {{/each}}
  </section>