<section id="catalogs" class="container">

  <div style="display:inline-flex;width:auto;height:40px;vertical-align:middle;margin-bottom:20px">
    <h1 style="width:300px;position:relative;vertical-align:top">All Things</h1>
    <button style="width:120px;height:40px;margin-right:10px;font-size:1.0rem;background-color:#14b94b">Cards</button>
    <button style="width:120px;height:40px;margin-right:10px;font-size:1.0rem;background-color:gray">List</button>
    <button style="width:120px;height:40px;margin-right:10px;font-size:1.0rem;background-color:gray">Thumbs</button>
  </div>

    {{#each catalogs}}
        <div class="catalog">
            {{#if thing_label.length}}
                <h3><span class="greenLabel">Label: </span>{{thing_label}}</h3>
            {{else}}
                <h3><span class="redNone">Label: </span>You must enter a name for your Thing. Please click the edit button to add a name.</h3>
            {{/if}}
            <h4><span class="greenLabel">Category: </span>{{category_label}}</h4>
            <ul>
                {{#if thing_status}}
                    <li><span class="greenLabel">Status: </span>{{thing_status}}</li>
                {{else}}
                    <li><span class="greenLabel">Status: </span><span class="redNone">None</span></li>
                {{/if}}

                {{#if thing_condition}}
                    <li><span class="greenLabel">Condition: </span>{{thing_condition}}</li>
                {{else}}
                    <li><span class="greenLabel">Condition: </span><span class="redNone">None</span></li>
                {{/if}}

                {{#if place_storedIn}}
                    <li><span class="greenLabel">Location: </span>{{place_storedIn}}</li>
                {{else}}
                    <li><span class="greenLabel">Location: </span><span class="redNone">None</span></li>
                {{/if}}

                {{#if person_role}}
                    <li><span class="greenLabel">Owner: </span>{{person_role}}</li>
                {{else}}
                    <li><span class="greenLabel">Owner: </span><span class="redNone">None</span></li>
                {{/if}}

                {{#if person_contactInfo}}
                    <li><a href="mailto:{{person_contactInfo}}"><span class="greenLabel">Contact: </span>{{person_contactInfo}}</a></li><br>
                {{else}}
                    <li><span class="greenLabel">Contact: </span><span class="redNone">None</span></li>
                {{/if}}
            </ul>

            {{#if hist_desc}}
              <p><span class="greenLabel">Description: </span>{{hist_desc}}</p>
            {{else}}
              <p><span class="greenLabel">Description: </span> <span class="redNone">No description entered.</span></p>
            {{/if}}

            {{#if imgLink}}
              <a href={{imgLink}}><img src={{imgLink}} style="max-height: 150px; max-width: 150px;"></a>
              <br>
            {{/if}}
            <br>
            <ul>
              {{#if imgLink}}
              <li><a href="{{imgLink}}" class="btn btn-reverse">Image</a></li>
              {{/if}}
              <li><a href="{{artifact_type}}" class="btn btn-reverse">Info</a></li>
              <li><a href="/catalogs/getOne/{{id}}" class="btn btn-reverse">Details</a></li>
              <li><a href="/catalogs/update/{{id}}" class="btn btn-reverse">Edit</a></li>
              <li><a href="/catalogs/delete/{{id}}" class="btn btn-reverse" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a></li>
            </ul>

        </div>
    {{else}}
        <p>No Things in catalog.</p>
    {{/each}}
</section>
