<section id="catalogs" class="container">

  <h1>All Things</h1>

  {{#each catalogs}}
    <div class="catalog">
      <h3>{{thing_label}}</h3>
      <h4>{{category_label}}</h4>
      <ul>
        <li>Status: {{thing_status}}</li>
        <li>Condition: {{thing_condition}}</li>
        <li>Location: {{place_storedIn}}</li>
        <li>Owner: {{person_role}}</li>
        <li>Contact: {{person_contactInfo}}</li>
        <li ><a href="{{artifact_type}}" class="btn btn-reverse">Info</a></li>
        <li><a href="{{imgLink}}" class="btn btn-reverse">Image</a></li>
      </ul>
      <p>{{hist_desc}}</p>

    </div>
  {{else}}
      <p>No Things in catalog.</p>
  {{/each}}
  </section>
  